* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-image: url(./Imagens/bg-moblie.png);
    background-size: cover; /* imagem não vai ficar se repetindo e vai ficar certinha */
    height: 8.375rem;

    display: flex;
    justify-content: center;
    align-items: center;
}



